src/Codeizi.Dependency.Injection.Functional.Test/bin/*
src/Codeizi.Dependency.Injection.Functional.Test/obj/*
src/Codeizi.Dependency.Injection.Helper/bin/*
src/Codeizi.Dependency.Injection.Helper/obj/*
src/Codeizi.Dependency.Injection.Test/bin/*
src/Codeizi.Dependency.Injection.Test/obj/*
