
Codeizi.DI.Helper/.vs/*
Codeizi.DI.Helper/Codeizi.DI.Functional.Test/bin/*
Codeizi.DI.Helper/Codeizi.DI.Functional.Test/obj/*
Codeizi.DI.Helper/Codeizi.DI.Helper/bin/*
Codeizi.DI.Helper/Codeizi.DI.Helper/obj/*
Codeizi.DI.Helper/Codeizi.DI.Test/bin/*
Codeizi.DI.Helper/Codeizi.DI.Test/obj/*
